.all-wrapper {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-bottom: 16px;
}

.checkbox-wrapper {
    all: unset;
    cursor: pointer;
    align-items: center;
}

.checkbox-label {
    font-size: 13px;
    font-weight: 300;
    color: #000;
}

.checkbox-bg {
    background-color: transparent;
    border: 2px solid #00BCA1;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========Tooltip========= */



.tooltip-trigger {
    all: unset;
    cursor: pointer;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

.tooltip-content {
    position: absolute;
    width: fit-content;
    background-color: #00a78e;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    z-index: 999;
    margin-left: 10px;
}


/* =========Alert========= */

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.alert-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.alert-description {
    font-size: 15px;
    font-weight: 400;
    color: #616163;
    margin-bottom: 20px;

}

.alert-cancel {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.1s ease;
    margin-right: 10px;

}

/* ======DATE INPUT CSS====== */

.muted-foreground {
    background-color: transparent;
    color: #00a78e;
}

.entryarea {
    position: relative;
    height: fit-content;
    width: 524px;
    height: 70px;
}

.labelline {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 400;
    color: #616163;
    padding: 0 25px;
    margin: 0 20px;
    background-color: transparent;
    transition: 0.2s ease;
    cursor: text;
    user-select: none;
}

.date-input,
.select-input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 9px;
    border: 1px solid #999999;
    background-color: transparent;
    transition: 0.1s ease;
    padding: 24.5px 42px;
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-part {
    font-family: "Montserrat", sans-serif;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: 0.1s ease;
    padding: 0 4px;
    border-radius: 3px;

}

.select-input.active {
    border: 1px solid #00bca1;

}

.select-input.deactive {
    border: 1px solid #999999;

}


.input-part:valid .date-input:not(:focus-within) .input-part {
    opacity: 1;
}

.date-input.up .input-part {
    opacity: 1;
}

.input-part:focus {
    background-color: #00bca052;
}

.date-input.up {
    border: 1px solid #00bca1;
}

.date-input:focus-within,
.select-input:focus-within {
    border: 1px solid #00bca1;
}

.date-input.up+.labelline,
.date-input:focus-within+.labelline {
    top: 0 !important;
    transform: translateY(-50%) translateX(10px) !important;
    color: #00bca1 !important;
    background-color: white !important;
    padding: 0 10px !important;
}


.calendar-trigger svg {
    stroke: #616163;
}

/* ======DATE INPUT CSS====== */
/* ======SELECT INPUT CSS====== */

.select-options {
    background-color: #fff;
    padding: 10px 0;
    color: #616163;
    border-radius: 9px;
    border: 1px solid #999999;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.select-options::-webkit-scrollbar {
    width: 3px;
}

.options-item {
    padding: 10px 42px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.1s ease;
}

.options-item:hover {
    background-color: #f5f5f5;
}


@media (max-width: 1440px) {
    .entryarea {
        width: 100%;
        height: 50px;
    }

    input,
    .date-input,
    .select-input {
        width: 100%;
        padding: 18px 20px;
        font-size: 13px;
        font-weight: 400;
        padding: 16px 27px;
        height: 50px;
    }

    .input-part {
        font-size: 13px;
    }

    .labelline {
        font-size: 13px;
        padding: 0 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .pass-show {
        right: 10px;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);
    }

    .pass-show img {
        width: 25px;
        height: 25px;
    }

    .input-error {
        right: -20px;
        width: 12px;
        height: 12px;
        top: 55%;
    }

    input:focus+.labelline,
    input:valid+.labelline,
    .date-input:focus-within+.labelline,
    .select-input:focus-within+.labelline {
        top: 0;
        transform: translateX(10px) translateY(-50%);
        color: #00bca1;
        background-color: white;
        padding: 0 10px;
    }
}




@media (max-width: 425px) {
    .entryarea {
        width: 100%;
    }

    input,
    .date-input,
    .select-input {
        padding: 18px 20px;
        font-size: 13px;
        font-weight: 400;
        padding: 16px 27px;
    }

    .labelline {
        font-size: 13px;
        padding: 0 10px;
        top: 50%;
        transform: translateY(-25%);
    }

    .date-input+.labelline {
        transform: translateY(-50%);
    }

    .pass-show {
        right: 10px;
        width: 25px;
        height: 25px;
        transform: translateY(-38%);
    }

    .pass-show img {
        width: 25px;
        height: 25px;
    }

    .input-error {
        right: -20px;
        width: 12px;
        height: 12px;
        top: 55%;
    }

    input:focus+.labelline,
    input:valid+.labelline,
    .date-input:focus-within+.labelline,
    .select-input:focus-within+.labelline {
        top: 0;
        transform: translateX(10px) translateY(-50%);
        color: #00bca1;
        background-color: white;
        padding: 0 10px;
    }

    .date-input:valid+.labelline,
    .date-input:focus-within+.labelline {
        top: 0 !important;
        transform: translateY(-50%) translateX(10px) !important;
        color: #00bca1 !important;
        background-color: white !important;
        padding: 0 10px !important;
    }

    .input-part {
        font-size: 13px;
    }

    .options-item {
        padding: 6px 27px;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.1s ease;
    }

}